/*=======Page Styling=======*/
body{
    background-color: #a69cac;
    font-family: Verdana, "Geneva", Tahoma, sans-serif;
    align-items: center;
    margin: 0%;
}
.title{
    font-size: 60px;
    font-weight: 1000;
}
.title:hover{
    color: grey;
}
a{
    text-decoration: none;
    color: inherit;
}
h1{
    margin: 10px 0% 0% 0%;
}
h2{
    font-size: 70px;
    padding: 0%;
    font-weight: 700;
}
h3{
    font-size: 30px;
    padding: 0%;
    font-weight: 500;
}


/*======Top Bar Styling======*/
.top-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;

    color: #f1dac4;
    background-color: #161b33;
}
.git-button{
    fill: #f1dac4;
}
.git-button:hover{
    fill: grey;
}

/*=======Container Styling=======*/
.container{
    display: flex;
    padding: 0% 10%;
}
.upper-desc{
    color: #0d0c1d;
}

/*=======Section Styling=======*/
.section{
    display: flex;
    padding: 0 10%;
    box-sizing: border-box;
}
.section > *{
    min-width: 0;
    aspect-ratio: 16/9;
}
.section > img{
    flex: 1;
    margin: 10px;
    border: 4px solid rgb(154, 171, 173);
    border-radius: 10px;

    object-fit: cover;
}
.section > p{
    flex: 1;
    padding: 10px;
    margin: 10px;
    border: 4px solid rgb(154, 171, 173);
    border-radius: 10px;

}

/*=======Interactive Elements=======*/
.Buttons{
    display: grid;
    grid-row-gap: 10px;
    place-items: center;
    
}
.indexButton:hover{
    background-color: #272949;
}
.indexButton{
    background: #474973;
    padding: 10px 20px 10px 20px;
    width: 20%;
    
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
    font-size: 19px;
    color: #f1dac4;
    text-decoration:none;
}